recursive-include streamlit_plugins/components/navbar/v1/frontend/build *
recursive-include streamlit_plugins/components/navbar/v2/frontend/build *
include streamlit_plugins/components/navbar/pyproject.toml
include streamlit_plugins/components/navbar/v2/pyproject.toml
