/* Fixes streamlit narrow layout being handled as mobile */
.ls-editor {
  width: unset !important;
}

/* Hides task id: n header */
.ls-task-info {
  display: none;
}

.ls-segment {
    background: var(--background-color) !important;
    border: 1px solid var(--secondary) !important;
}

.htx-text {
    background: var(--secondary-background-color) !important;
    border: 1px solid var(--secondary) !important;
}

.htx-text > * {
    cursor: text;
}